.animated-text {
    display: inline-block;
  }
  
  .cssanimation span {
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .sequence span {
    animation-name: leFlyInTop;
  }
  
  .random span {
    animation-name: leFlyInTop;
  }
  
  @keyframes leFlyInTop {
    0% {
      transform: translate(0px, -80px);
      opacity: 0;
    }
    50% {
      transform: translate(10px, 50px);
      animation-timing-function: ease-in-out;
    }
  }
  